body{
    background-color: rgb(216, 216, 207);
    font-family: "Source Code Pro", monospace;
    margin: 0;
    text-align: center;
} 
p, h1, h2, 
button, 
input{
    margin: 0;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    font-size: 16px;
}
header h1,
.search-panel p,
#title
{
    margin: 0.5rem 0;
    text-align: center;
}
.search-inputs{
    display: flex;
    flex-direction: column;
}
input{
    border-radius: 6px;
    border-style: none;
}
#address{
    margin: 0.5rem 5px;
    height: 2rem;
    text-align: center;
}
#submit{
    width: 50%;
    height: 2rem;
    margin: 0 auto;
    margin-bottom: 0.5rem
}
.map{
    text-align: center;
    margin: 0 auto;   
    width: 100%;
}
#map{
    height: 50vh;
}
.birds{
    text-align: center;
}
.birdSightings{
    display: flex;
    overflow-y: auto;
    margin-right: 5px;
}
.noSightings{
    margin: 0 auto;
}
.info{
    margin: 0 auto;
    width: 98%;
    text-align: left;
}
.collapsible{
    outline: none;
    font-size: 1.25rem;
    background-color: rgb(125, 125, 125);
    border-radius: 8px;
    color: white;
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
    border-style: none;
}
.active,
.collapsible:hover{
    background-color: rgb(100, 100, 100);
}
a{
    color: black;
    text-decoration: none;
    font-weight: 700;
}
a:hover{
    color: gray;
}
.tracked{
    border: 5px solid rgb(39, 83, 44);
    border-radius: 12px;
}
.trackedBird{
    margin-right: 5px;
}
button{
    border-radius: 6px;
    padding: 15px 10px;
    background-color: rgb(189, 230, 194);
    border-style: none;
}
button:hover{
    background-color: rgb(158, 189, 161);
}
.birdImages{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}
.hidden{
    display: none;
}
.mobile{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.loader {
    margin: 2.5rem auto;
    border: 3px solid rgb(150, 150, 150);
    border-top: 3px solid rgb(39, 83, 44);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
  }
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0); }
    100% { -webkit-transform: rotate(360deg); }
  }
  @keyframes spin {
    0% { transform: rotate(0); }
    100% { transform: rotate(360deg); }
  }

@media only screen and (min-width: 1000px) {
    .container{
        display: flex;
    }
    .map, .birds{
        width: 50%;
    }
    .birdSightings{
        flex-direction: column;
        height: 85vh;
    }
    .loader{
        margin: 5rem;
        width: 120px;
        height: 120px;
        border-width: 12px;
    }
    .mobile{
        display: block;
    }
}

