body{
    background-color: rgb(216, 216, 207);
    font-family: "Source Code Pro", monospace;
}
p, 
button, 
input{
    font-family: "Lexend Deca", sans-serif;
}
.search-panel{
    display: flex;
    justify-content: center;
    align-items: baseline;
}
h1, h2{
    margin: 10px 0;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
}
.container{
    display: flex;
    width: 100%;
}
.space{
    width: 50%;
}
.map{
    text-align: center;
    position: fixed;
    left: 2.5%;
    width: 45%;
}
#map{
    height: 400px;
}
.birds{
    width: 50%;
    text-align: center;
}
#birds{
    display: flex;
    flex-direction: column;
}
.info{
    padding: 2px;
    margin: 0 auto;
    width: 98%;
    text-align: left;
}
.collapsible{
    outline: none;
    background-color: rgb(125, 125, 125);
    border-radius: 8px;
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
    border-style: none;
}
.collapsible img{
    margin: 0.25rem;
}
.active,
.collapsible:hover{
    background-color: rgb(100, 100, 100);
}
a{
    color: black;
    text-decoration: none;
    padding: 2px;
    font-weight: 500;
}
a:hover{
    color: gray;
}
.tracked{
    border: 5px solid rgb(39, 83, 44);
    border-radius: 12px;
}
input{
    border-radius: 6px;
    border-style: none;
}
button{
    border-radius: 6px;
    padding: 5px 10px;
    background-color: rgb(189, 230, 194);
    border-style: none;
}
button:hover{
    background-color: rgb(158, 189, 161);
}
.hidden{
    display: none;
}
.birdImages{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}